<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Joerator, <%= @user.name %></h1>

    <p>Just wanted to wish you an awesome day.  And don't worry, we won't blitz you with emails!</p>
    <strong>Best, Tim Kellogg (creator of Joerator)</strong>
  </body>
</html>
