@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* colors
***************/
	$black: #000;

  /* Colors
  ************/
  $white: #fff;
  $blue: #2b6cb5;
  $blue-hover: #3078ca; /* color */
  $gray: #e9eaec;
  $gray-hover: #e4e5e7;
  $steel: #333;
  $gray-dark: #aaa;
  $red: #B80000;
  $red-hover: #980000;
  /*
  *************/

	$base: $white;
	$accent: #54392d;
  $darkgray: #d4d0cc;
  $light-gray: #f5f5f5;
  $medium-gray: #e3e3e3;

	/* hover states */
	$hover-dark-base: darken($base, 10%);
	$hover-light-base: lighten($base, 10%);
	$hover-dark-accent: darken($accent, 10%);
	$hover-light-accent: lighten($accent, 10%);

/* typography
***************/
* {
  font-family: 'helvetica neue', sans-serif;
}

	body {
		/*font-family: $base-font;*/
	}

  $slight-amount: 3%;
  $small-amount: 5%;
  $medium-amount: 10%;
  $large-amount: 15%;
  $huge-amount: 20%;

	/* sizing */
  $absurd: 6em;
	$huge: 4em;
	$large: 3em;
	$medium: 2em;
	$small: 1.5em;
	$tiny: 1em;

	/* headings */
	.title {
		/*font-family: $heading-font;*/
		font-weight: 800;
		font-size: $huge;
	}

	h1 {
    color: $steel;
    font-size: $absurd;
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
	}

  h3 {
    color: $steel;
    font-weight: 300;
    letter-spacing: 1px;
  }


  .main-heading {
    margin-bottom: 0px;
  }

  small {
    color: $gray-dark;
    letter-spacing: normal;
    font-size: $medium;
    font-weight: 200;
    b {
      color: darken($gray-dark, 10%);
    }
  }

	h2 {
    color: $steel;
		font-size: $large;
		font-weight: 100;
    letter-spacing: 1px;
	}
  h2 small {
    font-weight: 200;
  }

	/* subtitles */
	.subtitle {
		font-size: $large;
	}

	/* other */
	p, dl, label {
		font-weight: normal;
	}

	/* alignment */
	/*body { text-align: center; } */ /* Uncheck to have everything centered */
	h1, h2, p { text-align: center; }

  a {
    text-decoration: none !important;
    &:hover {
      text-decoration: none;

    }
  }

  .banner {
    background-color: $light-gray;
    height: 20%;
    width: 100%;
  }

  .page-content {

  }

  #menu-wrapper {
    margin: 0 auto;
    text-align: center;
    .simple-box, p {
      margin: 0 auto;
      text-align: center;
    }
    p {
      margin-top: 2%;
      a {
        text-decoration: underline !important;
        color: $blue;
      }
    }
  }

  form {
    .btn {
      margin-top: 2% !important;
    }
  }

.list-group-item {
  &:hover {
    background-color: darken($white, 3%);
  }
}

.list-group-body {
  padding: 10px;
}
.coffeeshop-rating {
  padding-left: 28px;
}

.tiny .card-image {
  height: 40px;
  width: 40px;
}
/* general
****************/
body {
  width: 100%;
}


.btn-container {
  margin-top: $slight-amount;
}

.sub-content-container {
  margin-top: $small-amount;
  text-align: center;
}

.banner-row {
  margin-top: $absurd;
}

/* Navigation
******************/
.navbar-item {
  line-height: 42px;
  height: 42px;
  padding: 7px 7px;
  color: #777;
  display: inline-block;
  background-color: transparent;
  vertical-align: middle;
  letter-spacing: 1px;
  font-weight: 200;
  transition-property: transparent;
  font-size: 14px;
  font-variant: small-caps;
  margin-left: -5px;
  &:hover {
    color: $steel;
    font-weight: 400;
  }
}

.brand-text {
  color: $black !important;
  font-weight: 400;
  font-size: 16px;
  &:hover {
    background-color: $white !important;
  }
}

.navbar-default {
  border-radius: 0;
  border-bottom: 1px solid $gray-hover !important;
}


/* Images
******************/
.home-img img {
  margin-top: $medium-amount;
  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}

.image-container {
  width: 100%;
  img {
    width: 100%;
    margin-top: -4%;
    height: auto;
    position: relative;
    z-index: -999;
  }
}

.coffeeshop-img {
  height: 300px;
  width: 650px;
}


.info-panel {
  box-shadow: 2px 2px 2px 2px $gray-dark;
  margin-left: -3%;
}

#flash-container .alert {
  background-color: $steel !important;
  color: $white;
}

/* Icons
*****************/
h1 .fa-coffee {
  color: $accent;
  font-size: $tiny;
  color: gold;
}

.fa-star,
.fa-star-half {
  color: gold;
}

i.fa-usd {
  padding: -1px;
  letter-spacing: -5px;
}

.icon-tile {
  img {
    height: 25px;
    width: 25px;
    display: inline-block;
  }
  &:hover {
    background-color: $white !important;
  }
}

/* subtitle-block
*****************/
.subtitle-block {
  margin-top: 0;
  height: 80px;
  background-color: $accent;
  h2 {
    color: $base;
    margin-top: 0;
    padding-top: 8px;
    font-size: $huge;

  }
}


/* cards
*****************/
.card-container {
  margin-top: 1%;
}

.card-image {
  width: 100px;
  height: 100px;
}

.card {
  height: 400px;
  margin: $tiny;
}

.card-header {
  h3 {

  }
}

/* flash container
*****************/




/* buttons
***************/
.btn-group-xs {
  margin-left: 15px;
}

.filter-active {
  background-color: #2b6cb5;
}

div.btn-group-xs.text-left > a > button  {
  margin: 0;
}

.nudge {
  height: 37.5px;
}

.btn-default {
  a {
    color: black;
  }
}

.btn {
  padding: .5em 1.5em;
  border-radius: 5px;
  line-height: 1.5;
  margin-left: .5em;
  cursor: pointer;
  vertical-align: baseline;
}

.btn-container {

}

.number {
  padding: 10px;
}

.btn-panel {
  margin-top: $small-amount;
}

$white: #fff;
$blue: #2b6cb5;
$blue-hover: #3078ca; /* color */
$gray: #e9eaec;
$gray-hover: #e4e5e7;
$brown: #666;

.btn-gray {
  background-color: $gray;
  color: $brown;
  &:hover {
    background-color: $gray-hover;
  }
  a {
    color: $darkgray;
  }
}

.btn-blue {
  background-color: $blue;
  color: $white !important;
  &:hover {
    background-color: $blue-hover;
  }
  a {
    color: $white;
  }
}

.btn-red {
  background-color: $red;
  color: $white !important;
  &:hover {
    background-color: $red-hover;
  }
  a {
    color: $white;
  }
}

.navbar-btn {
  margin-left: $slight-amount;
  padding-left: $small-amount;
  padding-right: $small-amount;
  &:hover {
    background-color: $accent !important;
    transition: .3s linear background-color;

  }
}

.navbar {
  background-color: $white;
  border: none;
}

/*form .btn {
  margin-top: $slight-amount;
}
*/
.search-box {
  margin-top: $small-amount;
  .form-control {
  }
}

#search-container {
  margin-left: 1px;
  .col-md-6 {
    margin-top: 5px;
  }
}
.input-group {
  margin-left: -7px !important;
}

#home-search {
  margin-top: $huge-amount;
  margin-left: 8%;
}

form {
  h4 {
    margin-bottom: 2%;
    margin-top: 4%;
  }
  label {
    margin-top: 2%;
  }
}

.slighter-margin-top {
  margin-top: 8%;
}
.slight-margin-top {
  margin-top: 5%;
}

.menu-item {
  image {

  }
}

/*overriding bootstrap*/
.form-control,
button,
.btn-gray,
.btn-blue,
.btn-default,
.btn-primary,
.input-group,
.btn-red,
.input-group-addon {
  border-radius: 0 !important;
}

select,
.input-group {
  -webkit-appearance: none;
}

#modal-map {
  height: 250px;
  width: 250px;
}

.affix {
}

#map {
  height: 320px;
  width: 320px;
}

#map-container {
  right: 0;
}

/* admin dashboard
****************/
#admin-wrapper {
  margin: 5px auto;
}

.list-group-item-heading {
  margin-top: 2%;
  &:hover {
    background-color: inherit;
  }
}


/* Coffeeshop page
****************/
#coffeeshop-glance {


}

#coffeeshop-aside {
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
}

#coffeeshop-map {
}

.review-pic .card-image {
  max-width: 60px;
  max-height: 60px;
}
.review-pic {
  padding-left: -10px;
  margin-left: -10px;
}
.media-body {
  padding-left: 20px;
}

#restaurant-info-box {
  background-color: darken($white, 2.5%);
  border: 1px solid darken($white, 12%);
  padding: 3%;
  padding-top: 1%;
  p {
    line-height: 1.5;
    text-align: left;
    color: darken($gray-dark, 15%);
  }
  .lead {
    font-variant: small-caps;
    font-size: 18px;
    padding-right: 8px;
  }
}


/* miscellaneous
****************/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* errors
***************/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
