@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* colors 
***************/
	/* standard */
	$black: #000;
	$white: #fff;

	$base: $white;
	$accent: #54392d;
  $darkgray: #d4d0cc;
  $light-gray: #f5f5f5;
  $medium-gray: #e3e3e3;

	/* hover states */
	$hover-dark-base: darken($base, 10%);
	$hover-light-base: lighten($base, 10%);
	$hover-dark-accent: darken($accent, 10%);
	$hover-light-accent: lighten($accent, 10%);

/* typography 
***************/
* {
  font-family: 'Roboto', sans-serif;
}

	body {
		/*font-family: $base-font;*/
	}

	/* sizing */
  $absurd: 6em;
	$huge: 4em; 
	$large: 3em;
	$medium: 2em;
	$small: 1.5em;
	$tiny: 1em;

	/* headings */
	.title { 
		/*font-family: $heading-font;*/
		font-weight: 800;
		font-size: $huge;
	}

	h1 {
		font-size: $large;
		font-weight: 600;
	}
	h2 { 
		font-size: $medium; 
		font-weight: 500;
    text-shadow: 2px 2px $black;
	}

	/* subtitles */
	.subtitle {
		font-size: $large;
	}

	/* other */
	p, dl, label {
		font-weight: normal;
	}

	/* alignment */
	/*body { text-align: center; } */ /* Uncheck to have everything centered */
	h1, h2, p { text-align: center; }


/* general 
****************/
#site-content-wrapper {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
	margin-top: 3%;
}

.container-fluid {
  padding: 0;
}

.content-container {
  margin-top: $absurd;
}

body {
  width: 100%;
}

$slight-amount: 3%; 
$small-amount: 5%; 
$medium-amount: 10%; 
$large-amount: 15%; 
$huge-amount: 20%;

/* Navigation 
******************/

.navbar {
  height: 6em;
}


/* Images
******************/
#front-page-banner-img { 
  background: url('/assets/coffee_faded.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.navbar-brand img { 
    position: relative;
    max-height: 20em;
    max-width: 40%;
    overflow: visible;
    margin-top: -1px;
    z-index: 999;
}

.image-container {
  width: 100%;
  img {
    width: 100%;
    margin-top: -4%;
    height: auto;
    position: relative;
    z-index: -999;
  }
}

.coffeeshop-img {
  height: auto;
  width: 400px;
}

/* Icons
*****************/
h1 .fa-coffee {
  color: $accent;
  font-size: $tiny;
  color: gold;
}

/* subtitle-block
*****************/
.subtitle-block {
  margin-top: 0;
  height: 80px;
  background-color: $accent;
  h2 {
    color: $base;
    margin-top: 0;
    padding-top: 8px;
    font-size: $huge;
    
  }
}


/* cards 
*****************/
.card-container {
  margin-top: $small-amount;
}

.card-image {
  width: 80%;
}

.card {
  height: 400px;
  margin: $tiny;
}

.card-header {
  h3 {

  }
}

/* flash container 
*****************/


/* buttons
***************/
.btn {
  background-color: $light-gray;
  border-color: $medium-gray;
  border-radius: 0;
}


.btn-primary {
/*	background-color: $base;*/
/* color: $accent; */
/*	&:hover {
		;
	}*/
}

.nudge {
  margin-top: 2.29px;
}

.navbar-btn { 
  margin-left: $slight-amount;
  padding-left: $small-amount;
  padding-right: $small-amount;
  &:hover {
    background-color: $accent !important;
    transition: .3s linear background-color;
    
  }
}

.navbar {
  background-color: $white;
  border: none;
}

form .btn {
  margin-top: $slight-amount;
}

.search-box {
  margin-top: $small-amount;
  .form-control {
    width: 80% !important;
  }
}

#home-search {
  margin: auto;
  margin-top: $huge-amount;
  position: absolute;
  top: 10%;
  text-align: center;
  margin-left: 8%;

}

/* miscellaneous 
****************/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* errors 
***************/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
