// flash container
$("#flash-container").html(
  "<div class='alert alert-success'><%= @coffeeshop.name %> has been approved</div>"
);

// Remove the div
$("#coffeeshop-<%= @coffeeshop.id %>").remove();
