// flash container
$("#flash-container").html(
  "<div class='alert alert-success'><%= @coffeeshop.name %> has been added to your favs</div>"
);

// Hide the fav button
$("#fav-container").remove();

// Add the unfavorite button
$("#coffeeshop-wrapper").prepend(
  "<div id='unfav-container' class='row'>" +
    '<a data-remote="true" rel="nofollow" data-method="patch" href="/coffeeshops/<%= @coffeeshop.id %>/unfavorite">Unfavorite</a>' +
  "</div>"
);
