// flash container
$("#flash-container").html(
  "<div class='alert alert-success'><%= @coffeeshop.name %> has been removed from your favs</div>"
);

// Hide the unfav button
$("#unfav-container").remove();

// Add the unfav button
$("#coffeeshop-wrapper").prepend(
  "<div id='fav-container' class='row'>" +
    '<a data-remote="true" rel="nofollow" data-method="post" href="/coffeeshops/<%= @coffeeshop.id %>/favorite">Favorite</a>' +
  "</div>"
);
