<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to 'Log out', logout_path, method: "delete", class: 'btn btn-default navbar-btn' %></li>
          <% if current_user.admin? %>
            <li><%= link_to 'Admin Dashboard', dashboard_path, class: 'btn btn-default navbar-btn' %></li>
          <% end %>
        <% else %>
          <li><%= link_to 'Log in', login_path, class: 'btn btn-default navbar-btn' %></li>
          <li><%= link_to 'Sign up', new_user_path, class: 'btn btn-default navbar-btn' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
